body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	color: #898989;
	font-size: 10px;
	font-family: tahoma;
	line-height:11px
}


.td_wrop{
	border-right:1px solid #CBCBCB;
	border-left:1px solid #CBCBCB;
	width:100%;
	height:100%;
	overflow: scroll;
}

 
